
#site_container {
	/*
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	*/
}
button {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	outline: none;
}
button:visited {
	outline: none;
}
.section {
	/*display: none;*/
}

/* BEGIN: Basic Carousel */
.carousel .carousel_wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.carousel .carousel_slide {
	position: absolute;
	left: 0;
	top: 0;
}
.carousel .carousel_slide img { width: 100%; }
/* END: Basic Carousel */

/* BEGIN: Dot Styles */
.carousel .carousel_pagination {
	position: absolute;
	bottom: 10px;
}
.carousel .carousel_pagination .dot,
.carousel .carousel_pagination .dot a {
	display: block;
	width: 10px;
	height: 10px;
}
.carousel .carousel_pagination > ul,
.carousel .carousel_pagination .dot { float: left; }
.carousel .carousel_pagination .dot { margin-right: 10px; }
.carousel .carousel_pagination .dot a {
	text-indent: -99999px;
	background: transparent url('../images/dot.png') no-repeat left top;
}
.carousel .carousel_pagination .dot.active a,
.carousel .carousel_pagination .dot a:hover  { background-position: left bottom; }
/* END: Dot Styles */




/* BEGIN: Left Panel */
#left-panel {
	background-color: #eee;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 25%;
}
	/* BEGIN: Stats */
	#section-stats {
		
	}
		#section-stats .jumbotron {
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
		}
		
		#section-stats .roster-container {
			padding-top: 30px;
		}
		#section-stats .roster {
			list-style: none;
		}
		#section-stats .roster .template {
			display: none;
		}
		#section-stats .roster .self {
			color: #337ab7;
		}


/* BEGIN: Right Panel */
#right-panel {
	position: absolute;
	width: 73%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #eee;
}
#right-panel .section {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	overflow: hidden;
}
#right-panel .section .jumbotron {
	padding: 0px;
}
	
	/* BEGIN: Instructions */
	#section-instruction.section {
		display: block;
		overflow: auto;
	}
		#section-instruction .container {
			text-align: center;
		}
		
		#section-instruction .next-wrapper {
			max-width: 80%;
			margin: 0 auto;
		}
	
	/* BEGIN: Intro */
	#section-intro {
	
	}
		#section-intro .wrapper {
			position: relative;
			top: 50%;
		}
		#section-intro .container {
			text-align: center;
		}
		#section-intro.disabled .form-container {
			display: none;
		}
	
	/* BEGIN: Interface */	
	#section-interface.enabled {
		display: block;
	}
		#section-interface .jumbotron,
		#section-interface .container {
			position: relative;
			padding: 0px;
			margin: 0px;
			height: 100%;
		}
		#section-interface .status,
		#section-interface #camera-container,
		#section-interface .controls-container,
		#section-interface .controls-container .control {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		
		#section-interface .status {
			left: 0px;
			top: 0px;
			width: 40px;
			height: 40px;
			background-color: #f00;
		}
		#section-interface.on .status {
			width: 40px;
			height: 40px;
			background-color: #0f0;
		}
		
		#section-interface #camera-container {
			background-color: #333;
		}
		
		#section-interface .controls-container {
			display: none;
		}
		#section-interface.on .controls-container {
			display: block;
		}
		#section-interface .controls-container .control {
			width: 33%;
			height: 33%;
		}
		#section-interface .controls-container .control.left {
			top: 33%;
		}
		#section-interface .controls-container .control.up {
			left: 33%;
		}
		#section-interface .controls-container .control.right {
			top: 33%;
			left: 66%;
		}
		#section-interface .controls-container .control.down {
			top: 66%;
			left: 33%;
		}
		#section-interface .controls-container .control.fire {
			top: 33%;
			left: 33%;
		}
		#section-interface .controls-container .control button {
			width: 100%;
			height: 100%;
			opacity: 0.5;
		}